@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Barlow", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.5rem;
}

.menu > span {
    font-size: 2rem;
}

.menu > span:hover {
    color: #727272;
}

.navigation,
.navigation > ul {
    display: flex;
    gap: 2rem;
}


.navigation > ul > li {
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 450;
    cursor: pointer;
}

.navigation > ul > li:hover {
    color: #727272;
}

.actions > a {
    color: black;
    padding-left: 1.5rem;
}

.actions > a:hover {
    color: #727272;
}

main {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 8rem;
    gap: 8rem;
}

.left-side {
    display: flex;
    margin-left: 2rem;
}

.product-images {
    display: grid;
    align-items: center;
    gap: 2rem;
}

.product-images > span {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.center {
    display: flex;
}

.main-product-image {
    display: grid;
    align-items: center;
    justify-content: center;
}

.product-info {
    margin-left: 6rem;
}

.breadcrumb {
    font-weight: 500;
}

.product-title  {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 4rem;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product-title > span {
    font-size: 2rem;
    color: rgb(255, 65, 65);
    cursor: pointer;
}

.product-title > span:hover {
    color: rgb(255, 255, 255);
}

.price {
    font-size: x-large;
    font-weight: bolder;

    padding-top: 1rem;
    margin-bottom: 2rem
}

.stats > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.size-info {
    margin-top: 1rem;
}

.size-info > span {
    color: #b3b3b3;
}

.size-info > section > span {
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.size-info > section > span:hover {
    color: #727272;
}

span.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    font-weight: 500;
}

.quantity-info {
    margin-top: 2.4rem;
}

.quantity-info > span {
    color: #b3b3b3;
}

.quantity-info > section {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.quantity-info > section > span {
    height: 25px;
    border-radius: 100%;

    display: grid;
    justify-content: center;
    align-items: center;

    transition: 150ms all ease-in-out;
}

.quantity-info > section > span:hover {
    cursor: pointer;
    color: rgb(122, 122, 122);
}

.add-to-bag {
    margin-top: 2rem;
    text-transform: uppercase;

    width: fit-content;
}

.add-to-bag > span {
    background-color: rgb(224, 0, 0);
    color: white;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    width: 7rem;
    height: 7rem;
}

.add-to-bag > span:hover {
    cursor: pointer;
    background-color: rgb(190, 0, 0);
}

.product-description {
    position: absolute;
    right: 25rem;
    padding-top: 29.5vh;
    margin-left: -10rem;
}

.product-description > h6 {
    font-size: 1rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.description-actions {
    margin-top: 10vh;
}

.description-actions > div {
    font-weight: 500;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 4rem;
    cursor: pointer;
}

.description-actions > div:hover {
    color: #727272;
}

.support {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;

    margin-top: 1rem;
}